@model X.PagedList.IPagedList<FichaAcademia.Dominio.Models.Professor>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Professores cadastrados";
}
<h5>Professores cadastrados</h5>
<p>
    <a asp-action="Create" class="btn-small green darken-2">Novo Professor</a>
</p>

<form asp-controller="Professores" asp-action="Index" method="post">
    <div class="col-sm-6">
        <div>
            <input class="form-control" type="text" name="txtProcurar" placeholder="Procurar"
                   style="display: inline-block; width:50%">
            <span class="input-group-btn">
                <button style="border-radius: 30px 10px;" type="submit" class="btn btn-default"><img width="32" height="32" src="~/Imagens/icon.png" /></button>
            </span>
        </div>        
    </div>
</form>

<table class="table striped hover highlight">
    <thead>
        <tr>
            <th>
                Foto
            </th>
            <th>
                Nome
            </th>
            <th>
                Telefone
            </th>
            <th>
                Turno
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.Foto)" class="circle" height="100" width="150" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Turno)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProfessorId" class="btn-small light-blue darken-2">Atualizar</a> &nbsp;
                    <a onclick="ExibirModal(@item.ProfessorId,'@item.Nome')" class="btn-small red darken-2">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Confirmar exclusão</h4>
        <p>Deseja prosseguir com a exclusão de <b class="nome"></b> ?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn green accent-4">Não</a>
        <a class="modal-close btn red accent-4 btnConfirmar">Sim</a>
    </div>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $(".modal").modal();
        })

        function ExibirModal(id, nome) {
            $(".nome").html(nome);

            $("#modal1").modal("open");

            $(".btnConfirmar").on('click', function () {
                $.ajax({
                    method: "POST",
                    url: "/Professores/Delete",
                    data: { id: id },
                    success: function () {
                        location.reload();
                    }
                });
            });
        }
    </script>
}